<script setup lang="ts">
import { btns, PageIdx, pageArr, ControlBar } from '@renderer/script/App'
</script>

<template>
  <v-app>
    <!-- apptab栏 -->
    <ControlBar></ControlBar>
    <!-- appbody -->
    <v-main>
      <component :is="pageArr[PageIdx]"></component>
    </v-main>
    <!-- apptab底部 -->
    <v-bottom-navigation v-model="PageIdx" bg-color="btns[PageIdx].color" grow mode="shift">
      <v-btn v-for="(item, idx_) in btns" :key="idx_" :value="idx_">
        <v-icon>{{ item.icon }}</v-icon>
        <span>{{ item.btnName }}</span>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<style lang="less">
@import './assets/css/styles.less';
</style>
