<script setup lang="ts">
import { fun, page, listmap, videolist, tab, loading, VideoListloding } from '@renderer/script/Home'
import { keyType } from '@common/interface'
import { onMounted } from 'vue'
import { Color } from '@common/lib'
import Card from '@renderer/components/Card.vue'
import LiveList from '@renderer/components/LiveList.vue'
onMounted(() => {
  fun.getCategory()
})
</script>
<template>
  <v-progress-linear v-show="loading" indeterminate :color="Color.theme"></v-progress-linear>
  <div v-show="!loading" class="Home">
    <v-card-title class="text-center justify-center">
      <h1 class="font-weight-bold text-h6 text-basil d-flex justify-center align-center">
        <img src="../assets/imgs/icon.png" style="height: 40px; width: 40px" />
        <span>IPTV</span>
      </h1>
    </v-card-title>
    <v-card-text style="padding: 0 15px">
      <v-text-field
        v-model="fun.iptEdit.iptVal.value"
        variant="solo"
        label="url直播源地址"
        append-inner-icon="mdi-play-outline"
        @click:append-inner="fun.iptEdit.Customization"
      ></v-text-field>
    </v-card-text>
    <v-tabs v-model="tab" :color="Color.theme2" align-tabs="start" class="y_btns">
      <v-tab
        :value="-1"
        @click="
          () => {
            fun.getVideoList(-1)
            page.idx = 1
          }
        "
        >我的喜欢</v-tab
      >
      <v-tab
        v-for="(item, idx) in listmap"
        :key="item._id"
        :value="idx"
        @click="
          () => {
            fun.getVideoList(item.category)
            page.idx = 1
          }
        "
      >
        {{ item.title }}
      </v-tab>
    </v-tabs>
    <v-window v-model="tab" style="height: 100%">
      <LiveList></LiveList>
      <v-window-item v-for="(n, idx) in listmap" :key="n._id" :value="idx">
        <v-container>
          <!-- 加载进度条 -->
          <v-progress-linear
            v-show="VideoListloding"
            :color="Color.theme2"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
          <div v-show="!VideoListloding">
            <v-row>
              <Card
                v-for="item in videolist"
                :key="item._id"
                :title="item.title"
                :sub-title="item.subTitle"
                :img="item.img"
                :color="item.color"
                :like="item.like"
                :islike="item['islike']"
                :live="() => fun.keydown(keyType.live, item)"
                :play="() => fun.keydown(keyType.play, item)"
                >{{ item }}</Card
              >
            </v-row>
          </div>
        </v-container>
      </v-window-item>
    </v-window>
    <v-pagination v-model="page.idx" :length="page.sum"></v-pagination>
  </div>
</template>

<style lang="less">
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .v-card-title {
    padding-bottom: 0 !important;
  }
  .y_btns {
    button {
      height: auto !important;
    }
  }
}
</style>
