<script lang="ts" setup>
import { ThemeType } from '@common/interface'
import { Storage } from '@common/Storage'
import { fun } from '@renderer/script/Home'
import { ref } from 'vue'
import { useTheme } from 'vuetify'
const theme = useTheme()
const toggleTheme = (): void => {
  theme.global.name.value = theme.global.name.value == ThemeType.light ? 'dark' : ThemeType.light
}
const dialog = ref(false)
const loadList = () => {
  dialog.value = true
  setTimeout(() => {
    Storage.clearData()
    fun.getCategory()
    dialog.value = false
  }, 1000)
}
</script>
<template>
  <v-card-title class="text-center justify-center">
    <h1 class="font-weight-bold text-h6 text-basil d-flex justify-center align-center">
      <img src="../assets/imgs/icon.png" style="height: 40px; width: 40px" />
      <span>个人中心</span>
    </h1>
  </v-card-title>
  <v-container class="h-100 table table-row-1">
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <!-- <v-sheet class="ma-2 pa-2"> 主题 </v-sheet> -->
        <p class="ma-2 pa-2 text-subtitle-1 text-basil font-weight-bold">主题</p>
        <v-btn @click="toggleTheme">切换主题</v-btn>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <p class="ma-2 pa-2 text-subtitle-1 text-basil font-weight-bold">数据缓存</p>
        <v-btn :disabled="dialog" :loading="dialog" @click="loadList"> 重新加载所有列表 </v-btn>
        <v-dialog v-model="dialog" :scrim="false" persistent width="auto">
          <v-card color="primary">
            <v-card-text>
              重新请求视频数据中
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </v-container>
</template>
<style lang="less"></style>
