<script setup lang="ts">
import { onMounted, onBeforeUnmount, watch, ref } from 'vue'
import { BtnType, HlsPro, play_pause, volume, loading, dialog } from '@renderer/script/Video'
import { Staging } from '@common/Storage'
import { Color } from '@common/lib'
const title = new Staging().item.title
const video = ref() //视频标签的引用
let hls: HlsPro
//组件加载完成
onMounted(() => {
  const video_ = video.value
  hls = new HlsPro(video_, new Staging().item.url)
  hls.on(HlsPro.Events.MANIFEST_PARSED, () => {
    ;(video_ as HTMLVideoElement).play()
    loading.value = false
  })
})
//页面销毁视频停止播放处理
onBeforeUnmount(() => {
  console.log('视频页关闭')
  loading.value = true
  hls.removeAllListeners()
  hls.destroy()
})
//监听音量条值变化
watch([volume], (a) => {
  ;(video.value as HTMLVideoElement).volume = a[0]
})
</script>

<template>
  <v-progress-linear
    v-show="loading"
    :color="Color.theme2"
    indeterminate
    rounded
    height="6"
  ></v-progress-linear>
  <div v-show="!loading" class="video d-flex justify-center">
    <div class="main">
      <video ref="video" class="video" :style="{ backgroundColor: Color.videoBgColor }"></video>
      <div class="control d-flex justify-center align-center" :style="{ color: Color.txtcolor }">
        <div class="text-h3 title">{{ title }}</div>
        <div class="item">
          <!-- 播放按钮 -->
          <v-icon class="play" size="100" @click="() => hls.btnPress(BtnType.play)">{{
            play_pause ? 'mdi-play' : 'mdi-pause'
          }}</v-icon>
          <!-- 全屏按钮 -->
          <v-icon class="full" size="30" @click="() => hls.btnPress(BtnType.full)"
            >mdi-fullscreen</v-icon
          >
          <!-- 音量 -->
          <span class="progress d-flex flex-column-reverse">
            <span class="icon"><v-icon size="30">mdi-volume-high</v-icon></span>
            <span class="progress_Bar">
              <v-slider
                v-model="volume"
                :color="Color.theme2"
                direction="vertical"
                max="1"
                thumb-label
              >
              </v-slider>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- 弹窗提示 -->
  <v-dialog v-model="dialog" transition="dialog-bottom-transition" width="auto">
    <template #default="{ isActive }">
      <v-card>
        <v-toolbar :color="Color.error" title="错误"></v-toolbar>
        <v-card-text>
          <div class="text-h2 pa-12">net::网络出小差中</div>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn variant="text" @click="isActive.value = false">关闭</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>

<style lang="less">
.video {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
}
.main {
  position: relative;
  .control {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(black, transparent, black);
    opacity: 0;
    transition: 250ms ease-out opacity;
    color: white;
    .title {
      position: absolute;
      left: 10px;
      top: 20px;
    }
    .item {
      font-size: 30px;
    }
  }
  .control:hover {
    opacity: 1;
    transition: 250ms ease-in opacity;
  }
  .item {
    .full,
    .progress {
      position: absolute;
      right: 10px;
      bottom: 20px;
    }
    .progress:hover > .progress_Bar {
      opacity: 1;
    }
    .progress {
      right: 40px;
      font-size: 0 !important;
      .progress_Bar {
        opacity: 0;
        transition: 250ms opacity ease-in;
      }
      .v-input__control {
        //重写vuetify进度条高度
        min-height: 100px !important;
      }
      .v-input__details {
        display: none;
      }
    }
  }
}
</style>
