<script setup lang="ts">
const prop = defineProps({
  title: { type: String, required: true, default: '节目名称' },
  subTitle: { type: String, required: true, default: '副标题文字' },
  img: { type: String, default: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png' },
  color: { type: String, default: 'purple' },
  like: { type: Number, default: 0 },
  islike: { type: Boolean, default: false },
  live: { type: Function },
  play: { type: Function }
})
const srecen = 4
const err = function (ent) {
  console.log('图片加载错误', ent)
}
</script>
<template>
  <v-col cols="4">
    <v-card class="mx-auto" :color="prop.color" elevation="10">
      <div class="d-flex justify-between">
        <v-card-title class="flex-grow-1 flex-column align-start">
          <div class="text-h5">{{ prop.title }}</div>
          <div class="text-h6 font-weight-thin">{{ prop.subTitle }}</div>
          <!-- <div class="text-h6 font-weight-thin">(2013)</div> -->
        </v-card-title>
        <v-img
          contain
          :src="prop.img"
          height="100px"
          class="flex-grow-0"
          style="flex-basis: 100px"
          @error="err"
        >
          <template #placeholder>
            <img style="width: 100%" src="../assets/imgs/icon.png" />
          </template>
        </v-img>
      </div>
      <v-divider></v-divider>
      <v-card-actions>
        <v-rating
          :model-value="srecen"
          readonly
          color="white"
          active-color="yellow-accent-4"
          size="15"
        ></v-rating
        >&nbsp;
        <span class="text-grey-lighten-2 text-caption me-2"
          >(
          <v-icon size="10">mdi-thumb-up-outline</v-icon>
          {{ prop.like }})
        </span>
        <v-spacer></v-spacer>
        <v-icon size="30" @click="() => {}">mdi-thumb-up-outline</v-icon>&nbsp;
        <v-icon
          size="30"
          class="heart"
          :style="{ color: prop.islike ? 'red' : '' }"
          @click="prop.live"
          >mdi-heart</v-icon
        >&nbsp;
        <v-icon size="30" class="circle" @click="prop.play">mdi-play-circle</v-icon>
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<style lang="less">
.mx-auto {
  .heart,
  .circle {
    transition: 500ms ease scale;
  }
  .heart:active,
  .circle:active {
    scale: 0.9;
    transition: 100ms ease-in scale;
  }
  .heart:active {
    color: rgba(248, 4, 29, 0.9);
  }
  .circle:active {
    color: rgba(51, 51, 51, 0.9);
  }
}
</style>
