<!-- 程序控制栏组件 -->
<script setup lang="ts">
import { KeyDowmType } from '@common/interface'
import { TabDown } from '@common/lib'
</script>

<template>
  <ul class="Control_bar d-flex justify-space-between">
    <li class="d-flex align-center">
      <img src="../assets/imgs/icon.png" style="height: 30px; width: 30px" /><span>iptv</span>
    </li>
    <li class="d-flex">
      <span class="d-flex justify-center align-center">
        <v-icon @click="TabDown(KeyDowmType.min)">mdi-fullscreen-exit</v-icon>
      </span>
      <span class="d-flex justify-center align-center">
        <v-icon @click="TabDown(KeyDowmType.full)">mdi-fullscreen</v-icon>
      </span>
      <span class="d-flex justify-center align-center">
        <v-icon @click="TabDown(KeyDowmType.close)">mdi-close</v-icon>
      </span>
    </li>
  </ul>
</template>

<style lang="less">
.Control_bar {
  @a: 10px;
  width: 100%;
  height: 35px;
  -webkit-app-region: drag;
  z-index: 2;
  position: fixed;
  li {
    list-style: none;
  }
  li:nth-child(1) {
    top: @a;
    left: @a;
    opacity: 0;
  }
  li:nth-child(2) {
    -webkit-app-region: none;
    span {
      width: 35px;
      height: 35px;
    }
    //小化全屏按钮鼠标悬浮样式
    span:hover {
      background-color: rgb(110 110 110/30%);
    }
    span:active {
      background-color: rgb(110 110 110/20%);
    }
    //关闭按钮鼠标悬浮样式
    span:hover:last-child {
      i {
        color: white;
      }
      background-color: #f00;
    }
    span:active:last-child {
      filter: opacity(50%);
    }
  }
}
</style>
