<script setup lang="ts">
import { keyType } from '@common/interface'
import { fun, videolist } from '@renderer/script/Home'
import Card from './Card.vue'
</script>
<template>
  <v-window-item :value="-1">
    <v-container>
      <v-row v-if="videolist">
        <Card
          v-for="item in videolist"
          :key="item._id"
          :title="item.title"
          :sub-title="item.subTitle"
          :img="item.img"
          :color="item.color"
          :like="item.like"
          :islike="item['islike']"
          :live="() => fun.keydown(keyType.live, item)"
          :play="() => fun.keydown(keyType.play, item)"
        ></Card>
      </v-row>
      <h1 v-else>暂无喜欢视频数据</h1>
    </v-container>
  </v-window-item>
</template>
